center {
  margin-top: 3rem;
}
.screen {
  font-size: 2rem;
  margin-bottom: 2rem;
}
button {
  padding: 1.4rem;
  color: white;
  background-color: red;
  font-size: 1rem;
  border: 0;
  margin: 1rem;
}
